



#gameInfo{
    position: absolute;
    right:10px;
    top:10px;
    width: 200px;
}

.gameBox{
    background-color:coral;   
}

.screen{
    margin: 0;
    padding: 0;
    background-color: brown;
}

.round {
    border-radius: 50%;
}

.button-pill{
    width: 50%;
    padding-left:35px !important; 
    padding-right:35px !important;  
}
input{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid #1b9af7;
    margin: 0;
    padding: 0;
    font-size:35px;
    line-height:40px;
    width: 170.656px;
    text-align:center;
    Mobile-align: bottom;
}

input:focus{
    border-bottom: 2px solid blueviolet;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

/**
电脑端相关样式
*/
.Pc .gameBox{
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 15px;
    float: left;
}

.Pc .screen{
        width: 600px;
        height: 600px;
        float: left;
}

.Pc .screen{
    position: absolute;

}

.Pc #contral{
    width: 180px;
    float: right;
    height: 100%;
}

.Pc  .moveButton{
    display: none;
}

.Pc .buttonItem{
    display: flex;
    flex-direction: column ;
    flex-wrap: nowrap;
    justify-content: flex-start;
    float: right;
    height: 100%;
    width: 100%;
}

.Pc .buttonItem>*{
    margin-top: 30px;
    width: 100%
}



.Pc .buttonItem>div.blank{
    height: 100%;
    text-align: center;
    flex-grow: 1;
}
/**
手机端相关样式
*/

.Horizontal .gameBox,.Mobile .gameBox{
    width: 100%;
    height: 100%;
    float: left;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both; 
    visibility: hidden; 
    }
.gameInfo{
    width: 50%;
    height: 20px;
    float: left;
    text-align: center;
}
/* 
.Horizontal input#level, .Mobile input#level{
   width: 10;
} */
.Mobile #gameInfo{

    position: static;
    background-image: url(../image/block.png);
    width: 100%;
    padding-top: 10px
}

.Mobile .buttonItem{
    height: 250px;
    width: 150px;
    padding: 20px;
    float: left;
}

.Mobile #back{
    float: left;
}

.Mobile #refresh{
    float: right;
}

.Mobile input{
width: 50px;
float: left;
line-height:50px;
color: aliceblue;
}
.Mobile #setLevel{
    float: right;
}
.Mobile .blank{
    height: 100px;
}

.Mobile .button-group{
    margin-top: 50px;
}

.Mobile #contral{
    margin-left:-240px;
    margin-bottom: -145px; 
    width: 480px;
    position:  absolute;
    height: 290px;
}

.Mobile .moveButton{
    width: 290px;
    height: 290px;
    top: 0px;
    left: 190px;
    position: absolute;
}
.moveButton button{
    margin:-35px;
    position: absolute ;
}
#up{
    
    left: 145px;
    top: 75px;
}
#left{
    left: 75px;
    top: 145px;
}
#right{
    right: 75px;
    top: 145px;
}
#down{
    top: 215px;
    left: 145px;
}